---
---

@import "{{ site.theme }}";
.page-header>.project-tagline {
  display: none;
}
.page-header>a.btn {
  display: none;
}

body {
  font-family: "Helvetica Neue",
  Arial,
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  "BIZ UDPGothic",
  Meiryo,
  sans-serif;
  line-height: 1.8em;
}

.main-content h2 {
  border-bottom: 2px solid;
  padding: 0.3em;
}

.main-content table th {
  background-color: #e9f5ef;
}